
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chart {
    margin-bottom: 10px;
    fill: #666;
}

.chart-title {
    font-size: 16px;
    text-align: center;
}

.chart-sub-title {
    margin-top: 12px;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: center;
    color: #666
}

.chart-source {
    font-size: 10px;
    text-align: left;
}
