
.chart-title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 24px;
    color: #444;
    text-align: center;
    margin-bottom: .3em;
}

.chart-title .sub-title {
    font-size: 16px;
}

.source {
    font-size: 12px;
    text-align: left;
    margin-top: 3px;
}

.s-1.Supported {
    stroke: hsla(160, 100%, 37%, 1);
    background-color: hsla(160, 100%, 37%, 1);
    fill: hsla(160, 100%, 37%, 1);
}

.s-2.Opposed {
    stroke: hsla(332, 100%, 48%, 1);
    background-color: hsla(332, 100%, 48%, 1);
    fill: hsla(332, 100%, 48%, 1);
}

.s-1.Opposed {
    stroke: hsla(332, 100%, 48%, 1);
    background-color: hsla(332, 100%, 48%, 1);
    fill: hsla(332, 100%, 48%, 1);
}

.s-2.Supported {
    stroke: hsla(160, 100%, 37%, 1);
    background-color: hsla(160, 100%, 37%, 1);
    fill: hsla(160, 100%, 37%, 1);
}

.legend {
  font-size: 17px;
  margin-bottom: 36px;
}

#industry-engagement {
    margin-top: 60px;
}

a {
    text-decoration: none !important;
    color: hsla(0, 0%, 15%, 1);
}

a:hover,
a:focus,
a:active,
a.selected {
    border-bottom: 2px dashed hsla(0, 0%, 15%, 1);
}